:root {
  --color-fondo-main: #ECEDF2;
  --color-fondo-navegador: #FFFFFF;
  --color-texto-link: #94999F;
  --color-gris-boton: #E2E2E2;
  --color-activado-fondo: #B2DBFF;
  --color-principal: #4B83C1;
  --color-reclamo-secundario-fondo: #DAEDFE;
  --color-login-fondo: #94999F;
  --color-login-texto: #F5F4F4;
  --color-hover:#3B6EA6;
  --color-error-texto: #F24E1E;
  --color-negro: #232323;
  --color-gris-linea: #CECECE;
  --color-gris-descripcion: #F2F2F2;
}

.main {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-fondo-main);
}

/* Navegador */

.navegador {
  background-color: var(--color-fondo-navegador);
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 10px;
}

.navegador_contenedor {
  width: 100%;
}

.navegador_contenedor_botones {
  position: absolute;
  bottom: 10%;
}

.navegador a {
  display: flex;
  align-items: center;
  color: var(--color-texto-link);
  text-decoration: none;
  width: 100%;
  height: 70px;
  font-size: 24px;
  user-select: none;
  padding-left: 10px;
  font-weight: bold;
  box-sizing: border-box;
}

.navegador .activado {
  cursor: pointer;
  background-color: var(--color-activado-fondo);
  color: var(--color-principal);
  border-left: 4px solid var(--color-principal);
  transition: background-color .3s ease, color .3s ease;
  user-select: none;
}

.boton_cerrar_sesion{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: var(--color-login-fondo);
  font-size: 16px;
  gap: 4px;
  cursor: pointer;
}

/* Reclamos */

.reclamos_details_desactivado {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: transparent;
  border-left: 0px solid transparent;
  transition: background-color .3s ease, color .3s ease;
  user-select: none;
}

.reclamos_details_desactivado strong {
  font-size: 30px;
  margin-right: 10px;
}

.reclamos_details_desactivado h2 {
  margin-left: 4px;
}

.reclamos_details {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.reclamos_details_activo {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  background-color: var(--color-activado-fondo);
  color: var(--color-principal);
  border-left: 4px solid var(--color-principal);
  transition: background-color .3s ease, color .3s ease;
}

.reclamos_details strong {
  font-size: 30px;
  margin-right: 10px;
}

.reclamos_details h2 {
  margin-left: 4px;
}

.reclamos_summary_desactivado {
  display: none;
}

.navegador .reclamo_secundario {
  display: flex;
  align-items: start;
  height: 60%;
  width: 200px;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  padding: 4px 0 4px 10%;
}

.reclamos_summary_activo a { 
  display: flex;
  align-items: start;
  height: 60%;
  width: 200px;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  padding: 4px 0 4px 10%;
  background-color: var(--color-reclamo-secundario-fondo);
}

.navegador .activado_secundario {
  color: var(--color-principal);
}

/* Login */

.login {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url(../public/imagenes/edificio_login.png);
}

.login h1 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

.login p {
  text-align: center;
}

.login_container {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-login-fondo);
  padding: 20px;
  border-radius: 32px;
  background: rgba(22, 21, 21, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--color-login-texto);
}

.login_form{
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  position: relative;
}

.login input {
  border: none;
  padding: 8px;
  border-radius: 6px;
}

.login .dato_invalido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 0;
  text-align: center;
}

.login button {
  background-color: var(--color-principal);
  color: var(--color-login-texto);
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
  transition: background-color .4s ease;
  margin: 0 auto;
}

.login button:hover{
  background-color: var(--color-hover);
}

/* INICIO */

.inicio{
  width: 100%;
  padding: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inicio .boton_general{
  width: 16%;
  font-weight: normal;
  padding: 14px 16px;
  font-size: 20px;
  border-radius: 32px;
  position: relative;
}

.inicio .boton_general img{
  position: absolute;
  left: 35px;
  width: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.inicio h1{
  font-size: 3rem;
}

.inicio .tabla_container{
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

.inicio .tabla_encabezado tr{
  background-color: var(--color-principal);
  display: grid;
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr; 
  width: 100%;

}

.inicio .tabla_objeto{
  display: grid;
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr;
  height: 50px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-negro);
}

.inicio_procesos{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.inicio_procesos div{
  background-color: var(--color-fondo-navegador);
  padding: 4px 10px;
  border-radius: 16px;
}

.inicio .tabla_cargando{
  width: 80%;
  height: 350px;
  margin: 0 auto;
}

.inicio .tabla_cargando_encabezado{
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr; 
}

.inicio .tabla_cargando_fila{
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr; 
}

/* Ver Reclamos */

.ver_reclamos{
  padding: 20px;
  width: 100%;
  height: 90%;
}

.ver_reclamos_main{
  width: 100%;
  display: flex;
  gap: 50px;
}

.filtros{
  width: 40%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filtros button{
  padding: 4px 20px;
  font-size: 1.3rem;
  border: none;
  border-radius: 16px;
  background-color: var(--color-gris-boton);
  font-size: 1.1rem;
  color: var(--color-login-fondo);
  transition: background-color .3s ease, color .3s ease;
}

.filtros .filtro_boton_activo{
  background-color: var(--color-principal);
  color: var(--color-fondo-navegador);
}

.ver_reclamos .tabla_container{
  width: 100%;
}

.ver_reclamos .tabla_encabezado tr{
  background-color: var(--color-principal);
  display: grid;
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr; 
  width: 100%;

}

.ver_reclamos .tabla_objeto{
  display: grid;
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr;
  height: 50px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-negro);
  cursor: pointer;
}

.ver_reclamos .tabla_cargando{
  width: auto;
}

.ver_reclamos .tabla_cargando_encabezado{
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr; 
}

.ver_reclamos .tabla_cargando_fila{
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr; 
}

.ver_reclamos_aside{
  width: 40%;
  height: 700px;
  position: relative;
}

.ver_reclamos_aside_false{
  width: 100%;
  height: 100%;
  background-color: var(--color-fondo-navegador);
  border-radius: 32px;
  background-image: url(../public/imagenes/edificio_aside.png);
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  color: var(--color-fondo-navegador);
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.ver_reclamos_aside_degrade{
  content: "";
  width: 100%;
  height: 50%;
  left: 0;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  position: absolute;
  background: linear-gradient(transparent, #232323);;
}

.ver_reclamos_aside_false h3{
  margin: 0;
  font-size: 1.8rem;
  z-index: 1;
}

.ver_reclamos_aside_false p{
  z-index: 1;
}

.ver_reclamos_aside_true {
  width: 100%;
  height: 100%;
  background-color: var(--color-fondo-navegador);
  border-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto; 
  gap: 10px;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-items: center;
}

.ver_reclamos_aside_true header {
  grid-column: 1 / -1;
  background-color: var(--color-principal);
  color: var(--color-fondo-main);
  width: 100%;
  text-align: center;
  border-radius: 16px;
  margin: 0;
}

.ver_reclamos_aside_true p {
  margin: 0;
}

.ver_reclamos_aside_true h4 {
  grid-column: 1 / -1;
  background-color: #0FA958;
  padding: 4px 16px;
  color: var(--color-fondo-main);
  border-radius: 16px;
  margin: 0;
}

.fila {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gris-linea);
  padding-bottom: 15px;
}

.fila strong {
  justify-self: flex-start;
}

.fila p {
  justify-self: flex-end;
}

.fila:nth-child(8){
  border: none;
  padding-bottom: 0;
}

.ver_reclamos_aside_true_descripcion {
  grid-column: 1 / -1; 
  background-color: var(--color-gris-descripcion);
  width: 100%;
  padding: 20px 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ver_reclamos_aside_true p:nth-of-type(7),
.ver_reclamos_aside_true div {
  grid-column: 1 / -1;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.carousel-content {
  flex: 1;
  text-align: center;
  font-size: 1.2em;
}

.carousel-button {
  background-color: #233D56;
  color: #F5F4F4;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5em;
}

.carousel-button:hover {
  background-color: #F2D6AD;
}

.carousel-button.left {
  position: absolute;
  left: 0;
}

.carousel-button.right {
  position: absolute;
  right: 0;
}


/* Crear Reclamos */

.crearReclamo{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
  height: 100vh;
}

.crearReclamo_main{
  background-color: var(--color-fondo-navegador);
  display: flex;
  padding: 20px;
  border-radius: 16px;
  gap: 20px;
  width: 90%;
  height: 70%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-evenly;
}

.crearReclamo h3{
  margin: 0;
}

.crearReclamo_grid{
  display: grid;
  width: 100%;
  height: 80%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid var(--color-texto-link);
}

.crearReclamo_imagen{
  border-radius: 32px;
  width: 300px;
  height: 100%;
  background-color: grey;
}

.crearReclamo_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crearReclamo_container h2{
  background-color: var(--color-activado-fondo);
  border-left: 8px solid var(--color-principal);
}

.crearReclamo_container_header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 50px;
}

.crearReclamo_inputs_radio{
  display: flex;
}

.crearReclamo_descripcion textarea{
  resize: none;
}

.crearReclamo_adjuntarImagenes{
  width: 100%;
  height: 100%;
}

.crearReclamo_container_button{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.crearReclamo_container_button .boton_general{
  align-self: center;
  width: 20%;
  justify-self: center;
}

.crearReclamo .alertaEliminar .boton_general{
  border: none;
  background-color: var(--color-principal);
  padding: 8px 0;
  font-weight: bold;
  color: var(--color-fondo-navegador);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
  width: 50%;
}

.crearReclamo .alertaEliminar .boton_general:hover{
  background-color: var(--color-hover);
  border: none;
  color: var(--color-fondo-navegador);
}

.numero_reclamo{
  background-color: var(--color-principal);
  padding: 2px 6px;
  border-radius: 4px;
  color: var(--color-fondo-navegador);
}

/* Manejar Reclamos */

.manejar_reclamos{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
  height: 100vh;
}

.manejar_reclamos_main{
  width: 100%;
}

.manejar_reclamos_main .tabla_container{
  width: 100%;
}

.manejar_reclamos .tabla_encabezado tr{
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr 40px; 
}

.manejar_reclamos .tabla_objeto{
  grid-template-columns: 40px 1fr 60px 80px 1fr 1fr 1fr 1fr 1fr 40px;
}


/*Mis Viviendas*/

.misViviendas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.misViviendas_main{
  width: 100%;
  display: flex;
  gap: 50px;
}

.misViviendas .tabla_container{
  width: 100%;
}

.misViviendas .tabla_encabezado tr, .misViviendas .tabla_cargando_encabezado, .misViviendas .tabla_objeto, .misViviendas .tabla_cargando_fila{
  grid-template-columns: 60px 60px 1fr 1fr 1fr 1fr;
}


/* Unidades */

.unidades{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.unidades_main{
  width: 100%;
  display: flex;
  gap: 50px;
}

.unidades .tabla_container{
  width: 100%;
}

.unidades .tabla_encabezado tr{
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.unidades .tabla_objeto{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tabla_objeto .unidad_ocupada{
  color: var(--color-error-texto);
  padding-left: 15px;
  position: relative;
}

.tabla_objeto .unidad_ocupada::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100vmax;
  background-color: var(--color-error-texto);
}

.tabla_objeto .unidad_libre{
  color: #0FA958;
  padding-left: 15px;
  position: relative;
}

.tabla_objeto .unidad_libre::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100vmax;
  background-color: #0FA958;;
}

.unidades .tabla_cargando_encabezado, .unidades .tabla_cargando_fila{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.unidades .tabla_cargando{
  width: auto;
}

.unidades .agregar_container{
  height: 55%;
}

.unidades .agregar_form{
  display: flex;
  flex-direction: column;
}

.alerta_fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.unidad_habitar_fondo{
  position: absolute;
  width: 100%;
  height: 100%;
}

.unidad_habitar {
  background-color: var(--color-fondo-navegador);
  padding: 20px;
  width: 70%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.unidad_habitar_cargando{
  background-color: var(--color-fondo-navegador);
  padding: 20px;
  width: 70%;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  gap: 50px;
}

.unidad_habitar_cargando img{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.unidad_habitar_roles{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #A2A9B3;
}

.unidad_habitar_roles article{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 10px;
  text-align: center;
}

.unidad_habitar_footer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.unidad_habitar_footer button{
  width: 40%;
}

.unidad_habitar_boton_desactivo,
.unidad_habitar_boton_activo {
  width: 100px;
  height: 100px;
  border-radius: 100vmax;
  background-color: var(--color-fondo-navegador);
  border: none;
  box-shadow: 0px 2px 4px 3px rgb(241, 241, 241);
  scale: 1;
  transition: scale 0.2s ease, border 0.2s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}

.unidad_habitar_boton_desactivo:hover {
  scale: 1.05;
}

.unidad_habitar_boton_activo {
  border: 3px solid var(--color-principal);
  box-shadow: none;
  cursor: default;
}

.unidad_habitar_boton_activo::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -20%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: var(--color-principal);
  background-image: url(./iconos/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100vmax;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.s ease;
}

.unidad_habitar_contenedor h3{
  text-align: center;
}

.unidad_habitar_roles_contenedor{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.unidad_habitar input{
  border: none;
  height: 33px;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: var(--color-fondo-main);
  width: 50%;
  justify-self: center;
}

.agreunidad_habitar input:focus{
  border: none;
}

.unidad_habitar_contenedor{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: start;
  gap: 80px;
}

.unidad_habitar_contenedor fieldset{
  border: 1px solid #A2A9B3;
}

.unidad_habitar_contenedor legend{
  color: #525252;
}

.unidad_habitar_duenios{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
}

.unidad_habitar_inquilinos{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  border-radius: 8px;
}

.unidad_habitar_inquilinos_lista{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 8px;
}

.unidad_habitar_inquilinos_lista_item small{
  color: #A2A9B3;
}

.unidad_habitar_inquilinos_lista_item p{
  margin: 0;
}

.unidad_habitar_contenedor img{
  cursor: pointer;
}

.unidad_habitar_contenedor section{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #A2A9B3;
  padding: 6px 0;
}

.unidad_habitar_contenedor section:last-child{
  border-bottom: none;
}


/* Persona */

.personas{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.personas_main{
  width: 100%;
  display: flex;
  gap: 50px;
  
}

.persona_tabla_header{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.personas_select{
  border: none;
  padding: 4px 10px;
  border-radius: 16px;
  background-color: var(--color-fondo-main);
  margin-bottom: 20px;
  height: 33px;
}

.personas .tabla_container{
  width: 100%;
}

.personas .tabla_encabezado tr{
  grid-template-columns: 1fr 1fr 1fr 1fr 40px;
}

.personas .tabla_objeto{
  grid-template-columns: 1fr 1fr 1fr 1fr 40px;
}

.personas .tabla_cargando{
  width: 100%;
}

.personas .tabla_cargando_encabezado, .personas .tabla_cargando_fila{
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.personas .agregar_container{
  height: 65%;
}

.personas .agregar_form{
  gap: 15px;
}

/* Edificios */

.edificios{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.edificios_titulos{
  width: 100%;
}

.edificios_titulos h2{
  font-size: 3rem;
  margin: 0;
}

.edificios_main{
  width:  100%;
  display: flex;
  gap: 50px;
  justify-content: center;
}

.edificios_contenedor{
  width: 100%;
}

.buscador_tabla{
  border: none;
  padding: 4px 10px;
  border-radius: 16px;
  background-color: var(--color-fondo-main);
  margin-bottom: 20px;
  height: 25px;
}

.buscador_tabla:focus{
  border: 1px solid red;
}

.buscador_tabla::-webkit-outer-spin-button,
.buscador_tabla::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Tablas*/


.tabla_container{
  background-color: var(--color-fondo-navegador);
  padding: 20px;
  border-radius: 16px;
  width: 70%;
  height: 700px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabla_container_items{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabla_encabezado tr {
  background-color: var(--color-principal);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr; 
  width: 100%;

}

.tabla_encabezado th {
  text-align: start;
  padding: 10px 4px;
  color: var(--color-fondo-navegador);
  font-weight: bold;
}

.tabla_body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tabla_objeto {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  height: 50px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--color-negro);
  background-color: var(--color-fondo-navegador);
  scale: 1;
  transition: background-color .2s ease, scale .2s ease;
}

.ver_reclamos .tabla_objeto:hover{
  background-color: var(--color-activado-fondo);
  scale: 1.01;
}

.unidades .tabla_objeto:hover{
  background-color: var(--color-activado-fondo);
  scale: 1.01;
}





.tabla_objeto td{
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 4px;
}

.tabla_objeto:last-child{
  border: none;
}

.paginacion{
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.paginacion button{
  cursor: pointer;
  border: none;
  padding: 4px 10px;
  background-color: transparent;
  color: #c1c1c2;
  transition: background-color .4s ease, color .4s ease;
}

.paginacion button:hover{
  color: #ffffff;
  background-color: #dfdfdf;
}


/* Tabla Cargando */

.tabla_cargando {
  background-color: var(--color-fondo-navegador);
  padding: 20px;
  border-radius: 16px;
  width: 70%;
  height: 700px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.tabla_cargando_header{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.tabla_cargando_encabezado {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  background-color: var(--color-principal);
  color: var(--color-fondo-navegador);
  padding: 10px;
}

.tabla_cargando_fila {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--color-negro);
  overflow: hidden;
  position: relative;
}

.tabla_cargando_fila:last-child{
  border: none;
}

.tabla_cargando_celda {
  height: 16px;
  background-color: var(--color-fondo-main);
  border-radius: 4px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}

.tabla_cargando_celda::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.616), transparent);
  animation: loading 1.5s infinite;
}

/* Generales */

.agregar_container{
  background-color: var(--color-fondo-navegador);
  height: 40%;
  width: 25%;
  border-radius: 16px;
  display: flex ;
  flex-direction: column;
  justify-content: flex-start;
}

.agregar_container h3{
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: var(--color-principal);
  height: 50px;
  color: var(--color-fondo-navegador);
}

.agregar_container input{
  border: none;
  height: 33px;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: var(--color-fondo-main);
}

.agregar_container input:focus{
  border: none;
}

.agregar_container label{
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1.1rem;
  font-weight: bold;
  gap: 4px;
}

.boton_general{
  border: none;
  background-color: var(--color-principal);
  padding: 8px 0;
  font-weight: bold;
  color: var(--color-fondo-navegador);
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.boton_general:hover{
  background-color: var(--color-hover);
}

.boton_cancelar{
  padding: 8px 0;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--color-principal);
  background-color: transparent;
  color: var(--color-principal);
  transition: background-color .3s ease, color .3s ease;
}

.boton_cancelar:hover{
  color: var(--color-fondo-navegador);
  background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

.agregar_form{
  display: grid;
  padding: 0 30px;
}

.agregar_container select{
  border: none;
  padding: 4px 8px;
  border-radius: 16px;
  background-color: var(--color-fondo-main);
  margin-bottom: 20px;
  height: 33px;
  
}

.alertaEliminar{
  background-color: var(--color-fondo-navegador);
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 32px;
  box-shadow: 0px 0px 33px -2px rgba(71,71,71,1);

}

.alertaEliminarBotones{
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--color-gris-linea);
  gap: 20px;
}

.alertaEliminar button{
  padding: 4px 10px;
  font-size: 1.2rem;
}

.alertaEliminar button:last-child{
  background-color: transparent;
  color: var(--color-gris-linea);
  border: 1px solid var(--color-gris-linea);
  transition: border .4s ease, color .4s ease;
}

.alertaEliminar button:last-child:hover{
  background-color: transparent;
  color: var(--color-negro);
  border: 1px solid var(--color-negro);
}

@keyframes loading {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
